<h1>Store Results</h1>

<h3>
  <%= @total_stores %> Total Stores
</h3>

<h3>
  Showing <%= @stores.count %> Results
</h3>

<ul>

  <% @stores.each do |store| %>
  <li>
    Long Name: <%= link_to store.longName, store_path(store.storeId) %>
    City: <%= store.city %>
    Distance: <%= store.distance %>
    Phone: <%= store.phone %>
    Store Type: <%= store.storeType %>
  </li>
  <% end %>

</ul>
