<h1>Store Information</h1>


Store Name: <%= @store.longName %>
Store Type: <%= @store.storeType %>

Store Address: <%= @store.address %>
City: <%= @store.city %>
State: <%= @store.region %>
Zip: <%= @store.postalCode %>

Store Hours: <%= @store.hoursAmPm %>
